<nav>
  <mat-toolbar class="generic-bg">
    <span class="white-color"> Resumo de dados do Covid-19</span>
    <span class="example-spacer"></span>
    <img src="../../../assets/images/covid-19-virus-icon.png" class="covid-logo">
  </mat-toolbar>
</nav>

<main>
  <section class="card-section">
    <mat-card class="card-covid19">
      <app-coronavirus></app-coronavirus>
    </mat-card>
  </section>
</main>
<footer>
  <h4 class="text-center">Por: Ndongala Garcia</h4>
</footer>

<router-outlet></router-outlet>
